@if(profile){
<!--perfil-->
<div class="container-header">
  <div class="div-bottons">
    <button class="log" [routerLink]="['/Home']">Home</button>
    <button class="log" [routerLink]="['/Favoritos']">Favoritos</button>
    <button class="logout" (click)="logout()">Logout</button>
  </div>
  <div class="profile">
    <img [src]="profile.picture" alt="{{ profile.name }}" />
    <div class="dados">
      <p><strong>Nome:</strong> {{ profile.name }}</p>
      <p>
        <strong>Email:</strong>
        {{ profile.email }}
      </p>
    </div>
  </div>
</div>
}
