* {
  margin: 0;
  padding: 0;
}

.container-header {
  display: flex;
  width: 100%;
  padding: 1rem;
  background-color: whitesmoke;
  border-radius: 20px;
}
h1 {
  margin-left: 3%;
}
.botoes {
  display: flex;
  margin-left: 65%;
}
.log {
  margin-left: 10%;
  padding: 1rem;
  width: 100px;
  border: none;
  border-radius: 20px;
  background-color: rgb(139, 139, 226);
  cursor: pointer;
  font-weight: 600;
}
.profile {
  margin: 0 auto;
  margin-left: 40%;
}
img {
  border-radius: 100px;
  margin-left: 11%;
}
.dados {
  display: flex;
  gap: 40px;
}

//Lista
