@media only screen and (max-width: 425px) {
  header {
    display: flex;
  }
  .logo {
    display: flex;
  }
  h1 {
    font-family: "Inconsolata", monospace;
  }
  .tube {
    color: red;
    font-family: "Inconsolata", monospace;
  }
  iframe {
    border-radius: 20px;
    width: 100%;
  }
  .video-player {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .description {
    margin-right: 6%;
  }
  .description-txt {
    font-size: 20px;
  }
  .Infos {
    display: flex;
    gap: 100px;
  }
  .no-video {
    text-align: center;
  }
  .menu-container {
    margin-left: 45%;
    position: absolute;
    cursor: pointer;
  }
  .header-buttons {
    padding: 10px;
    display: flex;
  }
  .header-buttons:hover {
    border-bottom: solid;
  }
  .arrow {
    width: 30%;
  }
  .menu {
    position: relative;
    width: 100px;
    z-index: 2;
  }
  .log {
    margin-top: 10px;
    padding: 1rem;
    width: 200px;
    border: none;
    border-radius: 20px;
    background-color: red;
    cursor: pointer;
    font-weight: 600;
  }
  .logout {
    margin-top: 10px;
    padding: 1rem;
    width: 200px;
    border: none;
    border-radius: 20px;
    background-color: grey;
    cursor: pointer;
    font-weight: 600;
  }
  h2 {
    margin-left: 10%;
  }
  p {
    text-align: center;
  }
}
@media only screen and (min-width: 750px) {
  header {
    display: flex;
  }
  .logo {
    display: flex;
  }
  h1 {
    font-family: "Inconsolata", monospace;
  }
  .tube {
    color: red;
    font-family: "Inconsolata", monospace;
  }
  iframe {
    border-radius: 20px;
  }
  .video-player {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .description {
    margin-right: 6%;
  }
  .description-txt {
    font-size: 20px;
  }
  .Infos {
    display: flex;
    gap: 300px;
  }
  .no-video {
    text-align: center;
  }
  .menu-container {
    margin-left: 65%;
    position: absolute;
    cursor: pointer;
  }
  .header-buttons {
    padding: 10px;
    display: flex;
  }
  .header-buttons:hover {
    border-bottom: solid;
  }
  .arrow {
    width: 30%;
  }
  .menu {
    position: relative;
    width: 100px;
    z-index: 2;
  }
  .log {
    margin-top: 10px;
    padding: 1rem;
    width: 250px;
    border: none;
    border-radius: 20px;
    background-color: red;
    cursor: pointer;
    font-weight: 600;
  }
  .logout {
    margin-top: 10px;
    padding: 1rem;
    width: 250px;
    border: none;
    border-radius: 20px;
    background-color: grey;
    cursor: pointer;
    font-weight: 600;
  }
  h2 {
    margin-left: 10%;
  }
  p {
    text-align: center;
  }
}
@media only screen and (min-width: 1440px) {
  header {
    display: flex;
  }
  .logo {
    display: flex;
  }
  h1 {
    font-family: "Inconsolata", monospace;
  }
  .tube {
    color: red;
    font-family: "Inconsolata", monospace;
  }
  iframe {
    border-radius: 20px;
    width: 50%;
  }
  .video-player {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Infos {
    display: flex;
    gap: 300px;
  }

  .menu-container {
    margin-left: 65%;
    position: absolute;
    cursor: pointer;
  }
  .header-buttons {
    padding: 10px;
    display: flex;
  }
  .header-buttons:hover {
    border-bottom: solid;
  }
  .arrow {
    width: 30%;
  }
  .menu {
    position: relative;
    width: 100px;
    z-index: 2;
  }
  .log {
    margin-top: 10px;
    padding: 1rem;
    width: 250px;
    border: none;
    border-radius: 20px;
    background-color: red;
    cursor: pointer;
    font-weight: 600;
  }
  .logout {
    margin-top: 10px;
    padding: 1rem;
    width: 250px;
    border: none;
    border-radius: 20px;
    background-color: grey;
    cursor: pointer;
    font-weight: 600;
  }
  h2 {
    margin-left: 10%;
  }
  p {
    text-align: center;
  }
}
