<div class="div-bottons">
  <button class="log" (click)="logout()">Logout</button>
  <button class="log" [routerLink]="['/profile']">profile</button>
</div>
<div class="todo-container">
  <h2>Lista de Tarefas</h2>
  <div class="input-group">
    <input [(ngModel)]="newTodo" placeholder="Adicionar nova tarefa" />
    <button class="add" (click)="addTodo()">Adicionar</button>
  </div>

  <ul>
    <li *ngFor="let todo of todos">
      <div class="todo-item">
        <span
          [class.completed]="todo.completed"
          (click)="toggleCompletion(todo)"
        >
          {{ todo.title }}
        </span>
        <button class="remove" (click)="removeTodo(todo.id)">Remover</button>
      </div>
    </li>
  </ul>
</div>
