<div class="div-bottons">
  <button class="log" (click)="logout()">Logout</button>
  <button class="log" [routerLink]="['/profile']">profile</button>
</div>
<div class="todo-container">
  <h2>Lista de Tarefas</h2>
  <input
    class="theinput"
    [(ngModel)]="newTaskTitle"
    placeholder="Nova tarefa"
  />
  <button class="log" (click)="addTask()">Adicionar</button>
  <ul>
    <li *ngFor="let task of tasks">
      <input
        class="cheked"
        type="checkbox"
        [checked]="task.completed"
        (change)="toggleCompletion(task)"
      />
      <p>{{ task.title }}</p>

      <button class="remove" (click)="removeTask(task.id!)">Excluir</button>
      @for(product of tasks; track product.id){ }
    </li>
  </ul>
</div>
